
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Analisis numerico</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href={{ url_for('static', filename='css/flexslider.min.css') }} rel="stylesheet" type="text/css" media="all"/>
    <link href={{ url_for('static', filename="css/line-icons.min.css") }} rel="stylesheet" type="text/css" media="all"/>
    <link href={{ url_for('static', filename="css/elegant-icons.min.css") }} rel="stylesheet" type="text/css" media="all"/>
    <link href={{ url_for('static', filename="css/lightbox.min.css") }} rel="stylesheet" type="text/css" media="all"/>
    <link href={{ url_for('static', filename="css/bootstrap.min.css") }} rel="stylesheet" type="text/css" media="all"/>
    <link href={{ url_for('static', filename="css/theme-1.css") }} rel="stylesheet" type="text/css" media="all"/>
    <link href={{ url_for('static', filename="css/custom.css") }} rel="stylesheet" type="text/css" media="all"/>
    <!--[if gte IE 9]>
        	<link rel="stylesheet" type="text/css" href="css/ie9.css" />
	<!--[endif]-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet' type='text/css'>
    <script src={{ url_for('static', filename="js/modernizr-2.6.2-respond-1.1.0.min.js") }}></script>
    <link href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic" rel="stylesheet" type="text/css">
    <link href={{ url_for('static', filename="css/font-helvetica.css") }} rel="stylesheet" type="text/css">
</head>

<body>
{#<div class="loader">#}
{#    <div class="spinner">#}
{#        <div class="double-bounce1"></div>#}
{#        <div class="double-bounce2"></div>#}
{#    </div>#}
{#</div>#}

<div class="nav-container">
    <nav class="centered-logo top-bar">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <a href="index.html">
                        <img class="logo logo-dark" alt="Logo" src={{ url_for('static', filename="img/download.jpeg") }}>
                    </a>
                </div>
            </div>


            <div class="row nav-menu">

                <div class="col-sm-12 columns text-center">
                    <ul class="menu">
                        <a></a><li><a href="index.html" target="_self">Home</a></li>
                        <li><a href="features.html" target="_self">Features</a></li>
                        <li><a href="testimonials.html" target="_self">Testimonials</a></li>
                        <li><a href="blog.html" target="_self">Blog</a></li>
                        <li><a href="contact.html" target="_self">Contact</a></li>




                    </ul>

                </div>
            </div>

            <div class="mobile-toggle">
                <i class="icon icon_menu"></i>
            </div>

        </div>
        <div class="bottom-border"></div>
    </nav>

</div>

<div class="main-container">
    <div id="bis" class="container">
        <a class="btn btn-primary" href="#bisection" data-toggle="collapse" role="button">Bisection</a>
        <div  id="bisection" class="collapse">
            <form action="/bisection" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="function" placeholder="f(x)" >
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="xi" step="0.00001" placeholder="xi" >
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="xs" step="0.00001" placeholder="xs">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" step="0.00001" name="iterations" placeholder="iterations" >
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="tolerance"step="0.00000000000000001" placeholder="tolerance" >
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-secondary">Go</button>
                </div>
            </form>
        </div>
    </div>

    <div id="bis_ait" class="container">
        <a class="btn btn-primary" href="#aitken_bisection" data-toggle="collapse" role="button">Aitken Bisection</a>
        <div  id="aitken_bisection" class="collapse">
            <form action="/aitken_bisection" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="function" placeholder="f(x)" >
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="xi" step="0.00001" placeholder="xi" >
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="xs" step="0.00001" placeholder="xs">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" step="0.00001" name="iterations" placeholder="iterations" >
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="tolerance"step="0.00000000000000001" placeholder="tolerance" >
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-secondary">Go</button>
                </div>
            </form>
        </div>
    </div>

    <div id="mul" class="container">
        <a class="btn btn-primary" href="#muller" data-toggle="collapse" role="button">Muller</a>
        <div  id="muller" class="collapse">
            <form action="/muller" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="function" placeholder="f(x)" >
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="xi" step="0.00001" placeholder="xi" >
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="xs" step="0.00001" placeholder="xs">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" step="0.00001" name="iterations" placeholder="iterations" >
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="tolerance"step="0.00000000000000001" placeholder="tolerance" >
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-secondary">Go</button>
                </div>
            </form>
        </div>
    </div>

    <div id="incremental_search" class="container">
        <a class="btn btn-primary" href="#incremental" data-toggle="collapse" role="button">Incremental Search</a>
        <div  id="incremental" class="collapse">
            <form action="/incremental" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="function" placeholder="f(x)" >
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="x0" step="0.00001" placeholder="x0" >
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="delta" step="0.00001" placeholder="delta">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" step="0.00001" name="iterations" placeholder="iterations" >
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-secondary">Go</button>
                </div>
            </form>
        </div>
    </div>

    <div id="false" class="container">
        <a class="btn btn-primary" href="#falseRule" data-toggle="collapse" role="button">False Rule</a>
        <div  id="falseRule" class="collapse">
            <form action="/falseRule" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="function" placeholder="f(x)" >
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="xi" step="0.00001" placeholder="xi" >
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="xs" step="0.00001" placeholder="xs">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" step="0.00001" name="iterations" placeholder="iterations" >
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="tolerance"step="0.00000000000000001" placeholder="tolerance" >
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-secondary">Go</button>
                </div>
            </form>
        </div>
    </div>

    <div id="fixed" class="container">
        <a class="btn btn-primary" href="#fixedPoint" data-toggle="collapse" role="button">Fixed Point</a>
        <div  id="fixedPoint" class="collapse">
            <form action="/fixed" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="function" placeholder="f(x)" >
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="gunction" placeholder="g(x)" >
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="xa" step="0.00001" placeholder="x0" >
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" step="0.00001" name="iterations" placeholder="iterations" >
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="tolerance" placeholder="tolerance" >
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-secondary">Go</button>
                </div>
            </form>
        </div>
    </div>

    <div id="multiple_roots" class="container">
        <a class="btn btn-primary" href="#multiple" data-toggle="collapse" role="button">Multiple Roots</a>
        <div  id="multiple" class="collapse">
            <form action="/multiple" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="function" placeholder="f(x)" >
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="x0" step="0.00001" placeholder="x0" >
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="tolerance" step="0.00001" placeholder="tolerance">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" step="0.00001" name="iterations" placeholder="iterations" >
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-secondary">Go</button>
                </div>
            </form>
        </div>
    </div>

    <div class="container">
        <a class="btn btn-primary" href="#aitken" data-toggle="collapse" role="button">Aitken</a>
        <div  id="aitken" class="collapse">
            <form action="/aitken" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="function" placeholder="f(x)" >
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="x0" step="0.00001" placeholder="x0" >
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="tolerance" step="0.00001" placeholder="tolerance">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" step="0.00001" name="iterations" placeholder="iterations" >
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-secondary">Go</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://www.youtube.com/iframe_api"></script>
<script src={{ url_for('static', filename="js/jquery.min.js") }}></script>
<script src={{ url_for('static', filename="js/jquery.plugin.min.js") }}></script>
<script src={{ url_for('static', filename="js/bootstrap.min.js") }}></script>
<script src={{ url_for('static', filename="js/jquery.flexslider-min.js") }}></script>
<script src={{ url_for('static', filename="js/smooth-scroll.min.js") }}></script>
<script src={{ url_for('static', filename="js/skrollr.min.js") }}></script>
<script src={{ url_for('static', filename="js/spectragram.min.js") }}></script>
<script src={{ url_for('static', filename="js/scrollReveal.min.js") }}></script>
<script src={{ url_for('static', filename="js/isotope.min.js") }}></script>
<script src={{ url_for('static', filename="js/twitterFetcher_v10_min.js") }}></script>
<script src={{ url_for('static', filename="js/lightbox.min.js") }}></script>
<script src={{ url_for('static', filename="js/jquery.countdown.min.js") }}></script>
<script src={{ url_for('static', filename="js/scripts.js") }}></script>
</body>
</html>
				