
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Analisis numerico</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href={{ url_for('static', filename='css/flexslider.min.css') }} rel="stylesheet" type="text/css" media="all"/>
    <link href={{ url_for('static', filename="css/line-icons.min.css") }} rel="stylesheet" type="text/css" media="all"/>
    <link href={{ url_for('static', filename="css/elegant-icons.min.css") }} rel="stylesheet" type="text/css" media="all"/>
    <link href={{ url_for('static', filename="css/lightbox.min.css") }} rel="stylesheet" type="text/css" media="all"/>
    <link href={{ url_for('static', filename="css/bootstrap.min.css") }} rel="stylesheet" type="text/css" media="all"/>
    <link href={{ url_for('static', filename="css/theme-1.css") }} rel="stylesheet" type="text/css" media="all"/>
    <link href={{ url_for('static', filename="css/custom.css") }} rel="stylesheet" type="text/css" media="all"/>
    <!--[if gte IE 9]>
        	<link rel="stylesheet" type="text/css" href="css/ie9.css" />
	<!--[endif]-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet' type='text/css'>
    <script src={{ url_for('static', filename="js/modernizr-2.6.2-respond-1.1.0.min.js") }}></script>
    <link href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic" rel="stylesheet" type="text/css">
    <link href={{ url_for('static', filename="css/font-helvetica.css") }} rel="stylesheet" type="text/css">
    <script src={{ url_for('static', filename="js/jquery.min.js") }}></script>
    <script src={{ url_for('static', filename="js/jquery.plugin.min.js") }}></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
</head>

<body>
<script>

    var i=false;
    $(function() { //shorthand document.ready function

        $("form").submit(function(e) {
            if(!i) {
                $(this).ajaxSubmit({
                    type: 'POST',
                    data: {prueba: 'true'},
                    success: function (data) {
                        var res = JSON.parse(data);
                        var status = res[0];
                        if (status != 0) { // OCURRIO UN ERROR, MANEJARLO
                            var message = res[1]
                            i = false
                            alert(message)
                        } else {
                            i = true
                        }
                    }})
                console.log(i)
                return false
            } else{
                return true
            }


        });
    });


</script>
{#<div class="loader">#}
{#    <div class="spinner">#}
{#        <div class="double-bounce1"></div>#}
{#        <div class="double-bounce2"></div>#}
{#    </div>#}
{#</div>#}

<div class="nav-container">
    <nav class="centered-logo top-bar">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <a href="index.html">
                        <img class="logo logo-dark" alt="Logo" src={{ url_for('static', filename="img/download.jpeg") }}>
                    </a>
                </div>
            </div>


            <div class="row nav-menu">

                <div class="col-sm-12 columns text-center">
                    <ul class="menu">
                        <li><a href="{{ url_for("home") }}" target="_self">Home</a></li>
                        <li><a href="{{ url_for("nonlinear") }}" target="_self">Non Linear Equation Systems</a></li>
                        <li><a href="{{ url_for("lineardimension") }}" target="_self">Linear Equation Systems</a></li>

                    </ul>

                </div>
            </div>

            <div class="mobile-toggle">
                <i class="icon icon_menu"></i>
            </div>

        </div>
        <div class="bottom-border"></div>
    </nav>

</div>

<div class="main-container d-flex justify-content-center" >
    <div class="panel-group col-sm-6 col-sm-offset-3" id="accordion1">
        <div id="gau" class="panel panel-default">
            <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" data-target="#results">
                <h4 class="panel-title">Gauss</h4>

            </div>
            <div class="table-responsive panel-collapse collapse" id="results">
                <form action="/gauss" method="POST">
                    A:
                    <input type="hidden" name="dimension" value="{{ dimension|length }}">
                    <table class="table">
                        <tbody>
                        {% for row in dimension %}
                            {% set outer_loop = loop %}
                            <tr>
                                {% for col in dimension %}
                                    <td><input class="form-control" type="text" name="n{{ outer_loop.index0 }}"  ></td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    b:
                    <table class="table">
                        <tbody>
                        {% for row in dimension %}
                            <tr>
                                <td><input class="form-control" type="text" name="v"  ></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-secondary">Go</button>
                </form>
            </div>
        </div>

        <div id="lugau" class="panel panel-default">
            <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" data-target="#lugauss">
                <h4 class="panel-title">LU Gauss</h4>

            </div>
            <div class="table-responsive panel-collapse collapse" id="lugauss">
                <form action="/lugauss" method="POST">
                    A:
                    <input type="hidden" name="dimension" value="{{ dimension|length }}">
                    <table class="table">
                        <tbody>
                        {% for row in dimension %}
                            {% set outer_loop = loop %}
                            <tr>
                                {% for col in dimension %}
                                    <td><input class="form-control" type="text" name="n{{ outer_loop.index0 }}"  ></td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    b:
                    <table class="table">
                        <tbody>
                        {% for row in dimension %}
                            <tr>
                                <td><input class="form-control" type="text" name="v"  ></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-secondary">Go</button>
                </form>
            </div>
        </div>

        <div id="lupiv" class="panel panel-default">
            <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" data-target="#lupivoting">
                <h4 class="panel-title">LU Pivoting</h4>

            </div>
            <div class="table-responsive panel-collapse collapse" id="lupivoting">
                <form action="/lupivoting" method="POST">
                    A:
                    <input type="hidden" name="dimension" value="{{ dimension|length }}">
                    <table class="table">
                        <tbody>
                        {% for row in dimension %}
                            {% set outer_loop = loop %}
                            <tr>
                                {% for col in dimension %}
                                    <td><input class="form-control" type="text" name="n{{ outer_loop.index0 }}"  ></td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    b:
                    <table class="table">
                        <tbody>
                        {% for row in dimension %}
                            <tr>
                                <td><input class="form-control" type="text" name="v"  ></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-secondary">Go</button>
                </form>
            </div>
        </div>

        <div id="piv" class="panel panel-default">
            <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" data-target="#pivoting">
                <h4 class="panel-title">Pivoting</h4>

            </div>
            <div class="table-responsive panel-collapse collapse" id="pivoting">
                <form action="/pivoting" method="POST">
                    A:
                    <input type="hidden" name="dimension" value="{{ dimension|length }}">
                    <table class="table">
                        <tbody>
                        {% for row in dimension %}
                            {% set outer_loop = loop %}
                            <tr>
                                {% for col in dimension %}
                                    <td><input class="form-control" type="text" name="n{{ outer_loop.index0 }}"  ></td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    b:
                    <table class="table">
                        <tbody>
                        {% for row in dimension %}
                            <tr>
                                <td><input class="form-control" type="text" name="v"  ></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-secondary">Go</button>
                </form>
            </div>
        </div>

        <div id="tpiv" class="panel panel-default">
            <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" data-target="#totalpivoting">
                <h4 class="panel-title">Total Pivoting</h4>

            </div>
            <div class="table-responsive panel-collapse collapse" id="totalpivoting">
                <form action="/totalpivoting" method="POST">
                    A:
                    <input type="hidden" name="dimension" value="{{ dimension|length }}">
                    <table class="table">
                        <tbody>
                        {% for row in dimension %}
                            {% set outer_loop = loop %}
                            <tr>
                                {% for col in dimension %}
                                    <td><input class="form-control" type="text" name="n{{ outer_loop.index0 }}"  ></td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    b:
                    <table class="table">
                        <tbody>
                        {% for row in dimension %}
                            <tr>
                                <td><input class="form-control" type="text" name="v"  ></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-secondary">Go</button>
                </form>
            </div>
        </div>

        <div id="chol" class="panel panel-default">
            <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" data-target="#cholesky">
                <h4 class="panel-title">LU Pivoting</h4>

            </div>
            <div class="table-responsive panel-collapse collapse" id="cholesky">
                <form action="/cholesky" method="POST">
                    A:
                    <input type="hidden" name="dimension" value="{{ dimension|length }}">
                    <table class="table">
                        <tbody>
                        {% for row in dimension %}
                            {% set outer_loop = loop %}
                            <tr>
                                {% for col in dimension %}
                                    <td><input class="form-control" type="text" name="n{{ outer_loop.index0 }}"  ></td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-secondary">Go</button>
                </form>
            </div>
        </div>

        <div id="doo" class="panel panel-default">
            <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" data-target="#doolittle">
                <h4 class="panel-title">LU Pivoting</h4>

            </div>
            <div class="table-responsive panel-collapse collapse" id="doolittle">
                <form action="/doolittle" method="POST">
                    A:
                    <input type="hidden" name="dimension" value="{{ dimension|length }}">
                    <table class="table">
                        <tbody>
                        {% for row in dimension %}
                            {% set outer_loop = loop %}
                            <tr>
                                {% for col in dimension %}
                                    <td><input class="form-control" type="text" name="n{{ outer_loop.index0 }}"  ></td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-secondary">Go</button>
                </form>
            </div>
        </div>

        <div id="cro" class="panel panel-default">
            <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" data-target="#crout">
                <h4 class="panel-title">LU Pivoting</h4>

            </div>
            <div class="table-responsive panel-collapse collapse" id="crout">
                <form action="/crout" method="POST">
                    A:
                    <input type="hidden" name="dimension" value="{{ dimension|length }}">
                    <table class="table">
                        <tbody>
                        {% for row in dimension %}
                            {% set outer_loop = loop %}
                            <tr>
                                {% for col in dimension %}
                                    <td><input class="form-control" type="text" name="n{{ outer_loop.index0 }}"  ></td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-secondary">Go</button>
                </form>
            </div>
        </div>

        <div id="jac" class="panel panel-default">
            <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" data-target="#jacobi">
                <h4 class="panel-title">Jacobi</h4>

            </div>
            <div class="table-responsive panel-collapse collapse" id="jacobi">
                <form action="/jacobi" method="POST">
                    A:
                    <input type="hidden" name="dimension" value="{{ dimension|length }}">
                    <table class="table">
                        <tbody>
                        {% for row in dimension %}
                            {% set outer_loop = loop %}
                            <tr>
                                {% for col in dimension %}
                                    <td><input class="form-control" type="text" name="n{{ outer_loop.index0 }}"  ></td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    b:
                    <table class="table">
                        <tbody>
                        {% for row in dimension %}
                            <tr>
                                <td><input class="form-control" type="text" name="v"  ></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="form-group">
                        X0:
                        <input class="form-control" type="number" name="x0" step="0.00001" placeholder="x0" >
                    </div>
                    <div class="form-group">
                        Iterations:
                        <input class="form-control" type="number" step="0.00001" name="iterations" placeholder="iterations" >
                    </div>
                    <div class="form-group">
                        Tolerance:
                        <input class="form-control" type="text" name="tolerance" placeholder="tolerance" >
                    </div>
                    <button type="submit" class="btn btn-secondary">Go</button>
                </form>
            </div>
        </div>

        <div id="jacsor" class="panel panel-default">
            <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" data-target="#jacobiSOR">
                <h4 class="panel-title">Jacobi SOR</h4>

            </div>
            <div class="table-responsive panel-collapse collapse" id="jacobiSOR">
                <form action="/jacobiSOR" method="POST">
                    A:
                    <input type="hidden" name="dimension" value="{{ dimension|length }}">
                    <table class="table">
                        <tbody>
                        {% for row in dimension %}
                            {% set outer_loop = loop %}
                            <tr>
                                {% for col in dimension %}
                                    <td><input class="form-control" type="text" name="n{{ outer_loop.index0 }}"  ></td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    b:
                    <table class="table">
                        <tbody>
                        {% for row in dimension %}
                            <tr>
                                <td><input class="form-control" type="text" name="v"  ></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    x:
                    <table class="table">
                        <tbody>
                        {% for row in dimension %}
                            <tr>
                                <td><input class="form-control" type="text" name="x"  ></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="form-group">
                        w:
                        <input class="form-control" type="number" name="W" step="0.00001" placeholder="W" >
                    </div>
                    <div class="form-group">
                        Iterations:
                        <input class="form-control" type="number" step="0.00001" name="iterations" placeholder="iterations" >
                    </div>
                    <div class="form-group">
                        Tolerance:
                        <input class="form-control" type="text" name="tolerance" placeholder="tolerance" >
                    </div>
                    <button type="submit" class="btn btn-secondary">Go</button>
                </form>
            </div>
        </div>

        <div id="bandm" class="panel panel-default">
            <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" data-target="#bandmatrix">
                <h4 class="panel-title">Band Matrix</h4>

            </div>
            <div class="table-responsive panel-collapse collapse" id="bandmatrix">
                <form action="/bandmatrix" method="POST">
                    <input type="hidden" name="dimension" value="{{ dimension|length }}">
                    <table class="table">
                        <tbody>
                        {% for row in range(4) %}
                            {% set outer_loop = loop %}
                            <tr>
                                <th>Vector {{ loop.index }}</th>
                                {% for col in dimension %}

                                    <td><input class="form-control" type="text" name="n{{ outer_loop.index0 }}"  ></td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-secondary">Go</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://www.youtube.com/iframe_api"></script>
<script src={{ url_for('static', filename="js/bootstrap.min.js") }}></script>
<script src={{ url_for('static', filename="js/jquery.flexslider-min.js") }}></script>
<script src={{ url_for('static', filename="js/smooth-scroll.min.js") }}></script>
<script src={{ url_for('static', filename="js/skrollr.min.js") }}></script>
<script src={{ url_for('static', filename="js/spectragram.min.js") }}></script>
<script src={{ url_for('static', filename="js/scrollReveal.min.js") }}></script>
<script src={{ url_for('static', filename="js/isotope.min.js") }}></script>
<script src={{ url_for('static', filename="js/twitterFetcher_v10_min.js") }}></script>
<script src={{ url_for('static', filename="js/lightbox.min.js") }}></script>
<script src={{ url_for('static', filename="js/jquery.countdown.min.js") }}></script>
<script src={{ url_for('static', filename="js/scripts.js") }}></script>
</body>
</html>
				