
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Analisis numerico</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href={{ url_for('static', filename='css/flexslider.min.css') }} rel="stylesheet" type="text/css" media="all"/>
    <link href={{ url_for('static', filename="css/line-icons.min.css") }} rel="stylesheet" type="text/css" media="all"/>
    <link href={{ url_for('static', filename="css/elegant-icons.min.css") }} rel="stylesheet" type="text/css" media="all"/>
    <link href={{ url_for('static', filename="css/lightbox.min.css") }} rel="stylesheet" type="text/css" media="all"/>
    <link href={{ url_for('static', filename="css/bootstrap.min.css") }} rel="stylesheet" type="text/css" media="all"/>
    <link href={{ url_for('static', filename="css/theme-1.css") }} rel="stylesheet" type="text/css" media="all"/>
    <link href={{ url_for('static', filename="css/custom.css") }} rel="stylesheet" type="text/css" media="all"/>
    <!--[if gte IE 9]>
        	<link rel="stylesheet" type="text/css" href="css/ie9.css" />
	<!--[endif]-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet' type='text/css'>
    <script src={{ url_for('static', filename="js/modernizr-2.6.2-respond-1.1.0.min.js") }}></script>
    <link href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic" rel="stylesheet" type="text/css">
    <link href={{ url_for('static', filename="css/font-helvetica.css") }} rel="stylesheet" type="text/css">
</head>

<body>
{#<div class="loader">#}
{#    <div class="spinner">#}
{#        <div class="double-bounce1"></div>#}
{#        <div class="double-bounce2"></div>#}
{#    </div>#}
{#</div>#}

<div class="nav-container">
    <nav class="centered-logo top-bar">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <a href="nonlinear.html">
                        <img class="logo logo-dark" alt="Logo" src={{ url_for('static', filename="img/download.jpeg") }}>
                    </a>
                </div>
            </div>


            <div class="row nav-menu">

                <div class="col-sm-12 columns text-center">
                    <ul class="menu">
                        <a></a><li><a href="{{ url_for("home") }}" target="_self">Home</a></li>
                        <li><a href="{{ url_for("nonlinear") }}" target="_self">Non Linear Equation Systems</a></li>
                        <li><a href="{{ url_for("lineardimension") }}" target="_self">Linear Equation Systems</a></li>
                        <li><a href="{{ url_for("polynomialdim") }}" target="_self">Polynomial Interpolation</a></li>
                        <li><a href="{{ url_for("splinesdimension") }}" target="_self">Splines</a></li>
                    </ul>

                </div>
            </div>

            <div class="mobile-toggle">
                <i class="icon icon_menu"></i>
            </div>

        </div>
        <div class="bottom-border"></div>
    </nav>

</div>

<div class="main-container d-flex justify-content-center" >
    <div class="panel-group col-sm-6 col-sm-offset-3" id="accordion1">
        <div id="lag" class="panel panel-default">
            <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" data-target="#lagrange">
                <h4 class="panel-title">Splines</h4>

            </div>
            <div class="table-responsive panel-collapse collapse" id="lagrange">
                <form action="/spline1" method="POST">
                    Points:
                    <input type="hidden" name="dimension" value="{{ dimension|length }}">
                    <table class="table">
                        <tbody>
                        {% for row in dimension %}
                            {% set outer_loop = loop %}
                            <tr>
                                <td><input class="form-control" type="text" name="n{{ loop.index0 }}"  placeholder="X{{ loop.index }}"></td>
                                <td><input class="form-control" type="text" name="n{{ loop.index0 }}"  placeholder="Y{{ loop.index }}"></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <button type="submit" class="btn btn-secondary">Go</button>
                </form>
            </div>
        </div>

        <div id="new" class="panel panel-default">
            <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" data-target="#newton">
                <h4 class="panel-title">Quadratic Splines</h4>

            </div>
            <div class="table-responsive panel-collapse collapse" id="newton">
                <form action="/spline2" method="POST">
                    Points:
                    <input type="hidden" name="dimension" value="{{ dimension|length }}">
                    <table class="table">
                        <tbody>
                        {% for row in dimension %}
                            {% set outer_loop = loop %}
                            <tr>
                                <td><input class="form-control" type="text" name="n{{ loop.index0 }}"  placeholder="X{{ loop.index }}"></td>
                                <td><input class="form-control" type="text" name="n{{ loop.index0 }}"  placeholder="Y{{ loop.index }}"></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-secondary">Go</button>
                </form>
            </div>
        </div>

        <div id="van" class="panel panel-default">
            <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" data-target="#vandermonde">
                <h4 class="panel-title">Cubic Splines</h4>

            </div>
            <div class="table-responsive panel-collapse collapse" id="vandermonde">
                <form action="/spline3" method="POST">
                    Points:
                    <input type="hidden" name="dimension" value="{{ dimension|length }}">
                    <table class="table">
                        <tbody>
                        {% for row in dimension %}
                            {% set outer_loop = loop %}
                            <tr>
                                <td><input class="form-control" type="text" name="n{{ loop.index0 }}"  placeholder="X{{ loop.index }}"></td>
                                <td><input class="form-control" type="text" name="n{{ loop.index0 }}"  placeholder="Y{{ loop.index }}"></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-secondary">Go</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://www.youtube.com/iframe_api"></script>
<script src={{ url_for('static', filename="js/jquery.min.js") }}></script>
<script src={{ url_for('static', filename="js/jquery.plugin.min.js") }}></script>
<script src={{ url_for('static', filename="js/bootstrap.min.js") }}></script>
<script src={{ url_for('static', filename="js/jquery.flexslider-min.js") }}></script>
<script src={{ url_for('static', filename="js/smooth-scroll.min.js") }}></script>
<script src={{ url_for('static', filename="js/skrollr.min.js") }}></script>
<script src={{ url_for('static', filename="js/spectragram.min.js") }}></script>
<script src={{ url_for('static', filename="js/scrollReveal.min.js") }}></script>
<script src={{ url_for('static', filename="js/isotope.min.js") }}></script>
<script src={{ url_for('static', filename="js/twitterFetcher_v10_min.js") }}></script>
<script src={{ url_for('static', filename="js/lightbox.min.js") }}></script>
<script src={{ url_for('static', filename="js/jquery.countdown.min.js") }}></script>
<script src={{ url_for('static', filename="js/scripts.js") }}></script>
</body>
</html>
				